// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#vote_app
{
    ul
    {
        list-style:none;
        margin:0;
        li
        {
            // margin:0.5rem;
            padding:0.5rem;
            border-bottom:1px dotted grey;
            a
            {
                width:100%;
            }
            .button:active
            {
                background-color: #1C11F5;
            }
        }
    }
}